.shop-title {
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: auto;
  height: 100%;
  place-items: center;
}

.product {
  border-radius: 15px;
  width: 300px;
  margin: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.product img {
  height: 300px;
  width: 300px;
  border-radius: 5px;
}

.product .info {
  text-align: center;
  font-family: "Roboto", sans-serif;
  line-height: 0.6;
}

.product:hover {
  transition: 0.1s ease-in;
  cursor: pointer;
  background-color: #ebf6f5;
  transform: scale(1.1);
}

.addToCartBtn {
  height: 50px;
  width: 140px;
  background-color: white;
  border: 3px solid #5cbdb9;
  border-radius: 15px;
  font-weight: bold;
  font-size: 15px;
}

.addToCartBtn:hover {
  cursor: pointer;
}

.addToCartBtn:active {
  transform: scale(1.1);
}

@media only screen and (max-width: 1280px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }

  .product {
    width: 450px;
    margin: 50px 15px;
  }

  .product img {
    width: 350px;
  }

  .shop-title {
    font-size: 45px;
  }
}
